@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #2e3038;
}

html,
body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  font-family: inherit;
  background: #2e3038;
}

* {
  box-sizing: border-box;
}